# Whatomate Configuration Example
# Copy this to config.toml and update values

[app]
name = "Custos"
environment = "development"  # development, staging, production
debug = true

[server]
host = "0.0.0.0"
port = 8080
read_timeout = 30
write_timeout = 30
base_path = ""  # Set to "/subpath" if behind nginx proxy pass (e.g., "/whatomate")

[database]
host = "nozomi.proxy.rlwy.net"
port = 33483
user = "postgres"
password = "wCEdrJaGUuWkzIIwJHfHIadPPETlVZnG"
name = "railway"
ssl_mode = "disable"
max_open_conns = 25
max_idle_conns = 5
conn_max_lifetime = 300

[redis]
host = "shinkansen.proxy.rlwy.net"
port = 25400
password = "RgcmyjPUiasoyvPoaFGOeIcwHXqxtlvL"
db = 0

[jwt]
secret = "VPRNxLcIs6lnppO8A4OeoMZHviRp29H9QEWuUbf21R21om408Gd9vJGAmN6cfv10+vR5XwSRZbefsxLSYW6gmA=="
access_expiry_mins = 15
refresh_expiry_days = 7

[storage]
type = "local"  # local, s3
local_path = "./uploads"
s3_bucket = ""
s3_region = ""
s3_key = ""
s3_secret = ""
